<div class="m-3">
  <div class="form">
    <div class="form-row">
      <div class="col-md-6 p-3">
        <h2 class="h2 text-danger" #status>You Don't Have Any Membership!</h2>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 p-3">
        <button
          class="btn btn-block btn-success"
          routerLink="/join"
          routerLinkActive="active"
        >
          JOIN MEMBERSHIP
        </button>
      </div>

      <div class="col-md-4 p-3">
        <button
          class="btn btn-block btn-warning"
          routerLink="/update"
          routerLinkActive="active"
        >
          UPDATE MEMBERSHIP
        </button>
      </div>

      <div class="col-md-4 p-3">
        <button class="btn btn-block btn-danger" (click)="delete()">
          DELETE MEMBERSHIP
        </button>
      </div>
    </div>
  </div>
</div>
