<div class="my-5">
  <div class="form">
    <div class="form-row my-2">
      <div class="col-md-4">
        <label class="text-white text-uppercase" for="firstName">First Name</label>
        <input class="form-control" type="text" id="firtFname" #fname required />
      </div>
      <div class="col-md-4">
        <label class="text-white text-uppercase" for="middleName">Middle Name</label>
        <input class="form-control" type="text" id="middleName" #mname required />
      </div>

      <div class="col-md-4">
        <label class="text-white text-uppercase" for="Last Name">Last Name</label>
        <input class="form-control" type="text" name="Lname" id="lname" #lname required />
      </div>
    </div>

    <div class="form-row my-2">
      <div class="col-md-4">
        <label class="text-white text-uppercase" for="Age"> Age </label>
        <input class="form-control" type="number" id="age" #age required />
      </div>

      <div class="col-md-4">
        <label class="text-white text-uppercase" for="phone">Mobile Number</label>
        <input class="form-control" type="tel" id="phone" #phone required />
      </div>

      <div class="col-md-4">
        <label class="text-white text-uppercase" for="address"> Address </label>
        <input class="form-control" type="text" id="address" #address required />
      </div>
    </div>

    <div class="form-row my-2">
      <div class="col-md-4">
        <label class="text-white text-uppercase" for="gender"> Gender </label>
        <div class="form-row" id="Gender">
          <div class="form-group form-check-inline col-5">
            <label class="text-white text-uppercase" for="Male" class="form-check-label form-control">
              <input class="form-check-input" type="radio" name="gender" id="male" value="Male" #male required
                (click)="setGender(male.value)" />
              Male
            </label>
          </div>
          <div class="form-group form-check-inline col-5">
            <label class="text-white text-uppercase" for="female" class="form-check-label form-control">
              <input type="radio" class="form-check-input" name="gender" id="female" value="Female" #female required
                (click)="setGender(female.value)" />
              Female
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label class="text-white text-uppercase" for="height"> Height (cm) </label>
        <input class="form-control" type="Number" id="height" #height required />
      </div>

      <div class="col-md-4">
        <label class="text-white text-uppercase" for="weight"> Weight (kg) </label>
        <input class="form-control" type="number" id="weight" #weight required />
      </div>
    </div>

    <div class="form-row my-2">
      <div class="col-md-4">
        <label class="text-white  text-uppercase" for="date">Date Of Joining</label>
        <input class="form-control" type="date" id="date" #date required />
      </div>
      <div class="col-md-8">
        <label class="text-white text-uppercase" for="fees"> Fees </label>
        <div class="row pl-4" id="fees">
          <div class="form-group form-check-inline col-3">
            <label class="text-white text-uppercase" for="months1" class="form-check-label form-control">
              <input class="form-check-input" type="radio" name="fees" id="months1" value="1 Month" required
                (click)="setFees('1 Month. 400/-')" />
              1 Month. 400/-
            </label>
          </div>
          <div class="form-group form-check-inline col-4">
            <label class="text-white text-uppercase" for="months6" class="form-check-label form-control">
              <input type="radio" class="form-check-input" name="fees" id="months6" value="6 Month" required
                (click)="setFees('6 Months. 2000/-')" />
              6 Months. 2000/-
            </label>
          </div>
          <div class="form-group form-check-inline col-4">
            <label class="text-white text-uppercase" for="months12" class="form-check-label form-control">
              <input type="radio" class="form-check-input" name="fees" id="months12" value="12 Month" required
                (click)="setFees('12 Months. 3000/-')" />
              12 Months. 3000/-
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row my-2">
      <div class="col-md-6">
        <button class="btn btn-success btn-block text-uppercase font-weight-bold"
          (click)="join(fname.value, mname.value, lname.value, age.value, phone.value, address.value, height.value, weight.value, date.value)">
          join
        </button>
      </div>
      <div class="col-md-6">
        <button type="reset" class="btn btn-primary btn-block text-uppercase font-weight-bold">
          reset
        </button>
      </div>
    </div>
  </div>
</div>